<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Shreelabh</title>

  <link rel="icon" href="{% static 'hello/img/favicon.png' %}" type="image/x-icon">

  <link href="{% static 'hello/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'hello/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'hello/css/bootstrap.rtl.css' %}" rel="stylesheet">
  <link href="{% static 'hello/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <script src="{% static 'hello/css/bootstrap.bundle.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




  <link rel="stylesheet" type="text/css" href="{% static 'hello/css/design.css' %}" />


</head>

<body>


  <!-- ***** Preloader Start ***** -->
  <!-- <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> -->
  <!-- ***** Preloader End ***** -->


  <!-- Header -->
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>


    <!-- <header class="mk"> -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">

          <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
            <img class="lg" src="{% static 'hello/img/favicon.png'%}" alt="">

            <button class="navbar-toggler navbar-" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <!-- <span class="navbar-toggler-icon"></span> -->
              <span class="navbar-toggler-icon">   
                <i class="fa fa-bars" style="color:#000; font-size:28px;"></i>
            </span>
            </button>

          </div>
          
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" style="text-align: center;">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
              <span class="sr-only"></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ourproduct">Our Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>

          </ul>
        </div>

      </div>
      </nav>


  <!-- navbar check start -->
<!-- Edit in JSFiddle
Result
HTML
CSS
JavaScript
Resources
 Navigation 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://placeholder.pics/svg/150x50/888888/EEE/Logo" alt="..." height="36">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- Page Content -->
<!-- <div class="container">
  <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
  <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap! Make sure to set the height
    of the logo within the HTML or using CSS. For best results, use an SVG image as your logo.</p>
</div>  -->






<!-- navbar demo end -->






    <!-- </header> -->


 


    <!--banner start -->


    <div class="bann">
      <!-- <img src="{% static 'hello/img/dark-red.jpg' %}" alt="Snow" style="width:100%"/> -->
      <div class="knj col-lg-8 col-md-6 col-sm-12">
        <h1>Welcome to ShreeLabh Industry</h1>
      </div>
    </div>


  </div>

  <!--product section here..-->

  <section id="ourproduct" class="pro-sect">
    <div class="pro-container ">
      <div class="section-title">
        <h2 style="color:navy; text-underline-offset: inherit; text-align: center;">Our Products</h2>
      </div>



      <div class="row d-flex justify-content-center"> 

        <div class="col1 col-lg-4 col-md-6 col-sm-12 card">
          <div class="porduct-img"><img src="{% static 'hello/img/Image-new-1.jpeg' %}" class="img-fluid" alt=""></div>
          <div class="porduct-info">
            <h4>poster</h4>
            <a href="{% static 'hello/img/Image-new-1.jpeg' %}" data-gall="portfolioGallery"
              class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>

          </div>
        </div>


        <div class="col-lg-4 col-md-6 card">
          <div class="porduct-img"><img src="{% static 'hello/img/Image-new-2.jpeg' %}" class="img-fluid" alt=""></div>
          <div class="porduct-info">
            <h4>poster</h4>
            <a href="{% static 'hello/img/Image-new-2.jpeg' %}" data-gall="portfolioGallery"
              class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>

          </div>
        </div>



        <div class="col-lg-4 col-md-6 card">
          <div class="porduct-img"><img src="{% static 'hello/img/Image-new-5.jpeg' %}" class="img-fluid" alt=""></div>
          <div class="porduct-info">
            <h4>poster</h4>
            <p style="font-size: 25px;">Oil Can</p>
            <a href="{% static 'hello/img/Image-new-2.jpeg' %}" data-gall="portfolioGallery"
              class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>

          </div>
        </div>
      </div>


      <div class="row portfolio-container d-flex justify-content-center">
        <div class="col-lg-4 col-md-6 card">
          <div class="porduct-img"><img src="{% static 'hello/img/Image-new-3.jpeg' %}" class="img-fluid" alt=""></div>
          <div class="porduct-info">
            <h4>poster</h4>
            <a href="{% static 'hello/img/Image-new-3.jpeg' %}" data-gall="portfolioGallery"
              class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>

          </div>
        </div>


        <div class="col-lg-4 col-md-6 card">
          <div class="porduct-img"><img src="{% static 'hello/img/Image-new-4.jpeg' %}" class="img-fluid" alt=""></div>
          <div class="porduct-info">
            <h4>poster</h4>
            <a href="{% static 'hello/img/Image-new-4.jpeg' %}" data-gall="portfolioGallery"
              class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 card">
          <div class="porduct-img"><img src="{% static 'hello/img/Image-new-6.jpeg' %}" class="img-fluid" alt=""></div>
          <div class="porduct-info">
            <h4>poster</h4>
            <p style="font-size: 25px;">Oil Can</p>
            <a href="{% static 'hello/img/Image-new-4.jpeg' %}" data-gall="portfolioGallery"
              class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
          </div>
        </div>







      </div>



      <!--canisters-->

      <div class="canister_c">
        <p class="product_header"
          style="color:white; text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 35px;">
          Canisters</p>

        <div class="row portfolio-container d-flex justify-content-center">

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA00001.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 1</p>
              <p>dimention(cm) : 5.5x9.5</p>
              <p>weight(app.grm) : 85</p>
              <p>capacity(app.ml) : 100</p>


              <a href="{% static 'hello/img/IMG-C-WA00001.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA00002.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 2</p>
              <p>dimention(cm) : 7x11</p>
              <p>weight(app.grm) : 125</p>
              <p>capacity(app.ml) : 250</p>


              <a href="{% static 'hello/img/IMG-C-WA00002.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>


          <div class="col-lg-4 col-md-6 card ">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA00003.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 3</p>
              <p>dimention(cm) : 7.5x12.5</p>
              <p>weight(app.grm) : 165</p>
              <p>capacity(app.ml) : 350</p>


              <a href="{% static 'hello/img/IMG-C-WA00003.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>
        </div>

        <div class="row portfolio-container d-flex justify-content-center">

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA0004.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No.: 4</p>
              <p>dimention(cm) : 8.5x14.5</p>
              <p>weight(app.grm) : 210</p>
              <p>capacity(app.ml) : 500</p>


              <a href="{% static 'hello/img/IMG-C-WA0004.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA0005.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 5</p>
              <p>dimention(cm) : 9.5x16</p>
              <p>weight(app.grm) : 235</p>
              <p>capacity(app.ml) : 650</p>


              <a href="{% static 'hello/img/IMG-C-WA0005.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA0006.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 6</p>
              <p>dimention(cm) : 10.5x17</p>
              <p>weight(app.grm) : 295</p>
              <p>capacity(app.ml) : 900</p>


              <a href="{% static 'hello/img/IMG-C-WA0006.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>

        </div>

        <div class="row portfolio-container d-flex justify-content-center">

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA0007.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 7</p>
              <p>dimention(cm) : 12x8</p>
              <p>weight(app.grm) : 355</p>
              <p>capacity(app.ml) : 1200</p>

              </h4>

              <a href="{% static 'hello/img/IMG-C-WA0007.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA0008.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No.: 8</p>
              <p>dimention(cm) : 12.5x19.5</p>
              <p>weight(app.grm) : 430</p>
              <p>capacity(app.ml) : 1600</p>

              </h4>

              <a href="{% static 'hello/img/IMG-C-WA0008.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA0009.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No.: 9</p>
              <p>dimention(cm) : 14x21.5</p>
              <p>weight(app.grm) : 460</p>
              <p>capacity(app.ml) : 2300</p>

              </h4>

              <a href="{% static 'hello/img/IMG-C-WA0009.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>

        </div>


        <div class="row portfolio-container d-flex justify-content-center ">
          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-C-WA00010.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No.: 10</p>
              <p>dimention(cm) : 15.5x24</p>
              <p>weight(app.grm) : 605</p>
              <p>capacity(app.ml) :3200</p>

              </h4>

              <a href="{% static 'hello/img/IMG-C-WA00010.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>

            </div>
          </div>

          <!--masala dabbi-->


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-M-WA0013.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 1</p>
              <p>dimention : 5.5x9.5</p>
              <p>weight(app.grm) : 80</p>
              <p>capacity(app.ml) : 100</p>

              </h4>

              <a href="{% static 'hello/img/IMG-M-WA0013.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-M-WA0011.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 2</p>
              <p>dimention : 6.5x11</p>
              <p>weight(app.grm) : 120</p>
              <p>capacity(app.ml) : 250</p>

              </h4>

              <a href="{% static 'hello/img/IMG-M-WA0011.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>

        <!--mukhvas dabbi-->

        <div class="row portfolio-container d-flex justify-content-center">

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-M-WA0001.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 2</p>
              <p>dimention(cm) : 5x12.5</p>
              <p>weight(app.grm) : 75</p>
              <p>capacity(app.ml) : 120</p>

              </h4>

              <a href="{% static 'hello/img/IMG-M-WA0001.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-M-WA0012.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 4</p>
              <p>dimention : 5x17</p>
              <p>weight(app.grm) : 95</p>
              <p>capacity(app.ml) : 200</p>

              </h4>

              <a href="{% static 'hello/img/IMG-M-WA0012.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>


        <!--bharni-->

        <div class="row portfolio-container d-flex justify-content-center">

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00001.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 1</p>
              <p>dimention : 5.5x10</p>
              <p>weight(app.grm) : 85</p>
              <p>capacity(app.ml) : 100</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00001.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00002.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 2</p>
              <p>dimention : 7x11.5</p>
              <p>weight(app.grm) : 120</p>
              <p>capacity(app.ml) : 250</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00002.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00003.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 3</p>
              <p>dimention : 7.5x13</p>
              <p>weight(app.grm) : 160</p>
              <p>capacity(app.ml) : 350</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00003.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00004.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 4</p>
              <p>dimention : 8.5x14.5</p>
              <p>weight(app.grm) : 200</p>
              <p>capacity(app.ml) : 500</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00004.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00005.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 5</p>
              <p>dimention : 9.5x16</p>
              <p>weight(app.grm) : 235</p>
              <p>capacity(app.ml) : 650</p>

              

              <a href="{% static 'hello/img/IMG-B-WA00005.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00006.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 6</p>
              <p>dimention : 10.5x17</p>
              <p>weight(app.grm) : 295</p>
              <p>capacity(app.ml) : 900</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00006.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00007.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 7</p>
              <p>dimention : 12x18.5</p>
              <p>weight(app.grm) : 345</p>
              <p>capacity(app.ml) : 1200</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00007.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00008.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 8</p>
              <p>dimention : 12.5x20</p>
              <p>weight(app.grm) : 430</p>
              <p>capacity(app.ml) : 1600</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00008.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00009.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 9</p>
              <p>dimention : 14x22</p>
              <p>weight(app.grm) : 480</p>
              <p>capacity(app.ml) : 2300</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00009.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 card">
            <div class="porduct-img"><img src="{% static 'hello/img/IMG-B-WA00010.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="porduct-info">
              <h4>Canister</h4>

              <p>size No. : 10</p>
              <p>dimention : 15.5x25</p>
              <p>weight(app.grm) : 615</p>
              <p>capacity(app.ml) : 3200</p>

              </h4>

              <a href="{% static 'hello/img/IMG-B-WA00010.jpg' %}" data-gall="portfolioGallery"
                class="venobox preview-link" title="Canister"><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>

    </div>
  </section>


  <!--About us section start-->

  <section id="about" class="about_us ">
    <div class="ab">

      <div class="about-title">
        <h2>ABOUT US</h2>
      </div>

      <div class="row content ">
        <div class="about-text">

          <h5>Shreelabh Industry is a Leading manufacturers of Stainless steel utensils and kitchenware product.
            Today, the company is focused on creating and improving innovative products and processes to surpass
            the needs of our customers today and for the future.
          </h5>

        </div>

      </div>

    </div>
  </section>

  <!-- contact -->

  <section id="contact">

    <div class="contact-cont">

      <div class="section-title">
        <h2>CONTACT US</h2>

        <div class="">
          <img class="img-fluid"  alt="Responsive image"  src="{% static 'hello/img/card.jpg' %}">
        </div>

      </div>
    </div>

  </section>

  <!-- End Contact Section -->

  <!-- ======= Footer ======= -->


  <!-- <div class="footer-top">

    
        <div class="ad-bg">
        <div class="col-lg-8 col-md-6 col-sm-12">
       
          <h3>ShreeLabh Industry</h3>

          <div class="email">
            <h4><i class="icofont-envelope">
            Email : shreelabh20@gmail.com</i>
          </h4>
          </div>

          <div class="phone">
            <h4><i class="icofont-phone">
            Call : 9825223043
                 : 8828223043
                 : 02228183043</i>
          </h4>
          </div>
       
        
        <div class="thx-txt">
          <p>Thank you for visit.</p>
        </div>
      
      </div>
    </div>
  </div>

  
  <footer id="footer">
  <div class="footer-bottom">
      <div class="copyright">
      &copy; Copyright <strong><span>Shreelabh</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
       <p style="font-style: italic; color: #93c572;">Designed by Kunjal Savaliya</p>
    </div>
  
</div>

</footer> -->
  <!-- End Footer -->

  <!-- <script src="hello/js/myscript.js"></script>  -->

  <!-- check footer -->


  <footer id="dk-footer" class="dk-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4 col-sm-2">
          <div class="dk-footer-box-info">
            <a href="index.html" class="footer-logo">
              <img src="{% static 'hello/img/favicon.png' %}" alt="footer_logo" class="img-fluid">
            </a>
            <!-- <p class="footer-info-text">
                     Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                  </p> -->
            <div class="footer-social-link">
              <h3>Follow us</h3>
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                              <a href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                <!-- <li>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li> -->
                <!-- <li>
                              <a href="#">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li> -->
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social link -->
          </div>
          <!-- End Footer info -->
          <div class="footer-awarad">
            <img src="images/icon/best.png" alt="">
            <p>Shree Labh Industry</p>
          </div>
        </div>
        <!-- End Col -->
        <div class="col-md-12 col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-us">
                <div class="contact-icon">
                  <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>Bombay India</h3>
                  <p>Bhayandar East</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
            <div class="col-md-6">
              <div class="contact-us contact-us-last">
                <div class="contact-icon">
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </div>
                <!-- End contact Icon -->
                <div class="contact-info">
                  <h3>98 252 23043</h3>
                  <p>Give us a call</p>
                </div>
                <!-- End Contact Info -->
              </div>
              <!-- End Contact Us -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Contact Row -->
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget footer-left-widget">
                <div class="section-heading">
                  <h3>Useful Links</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <ul>
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <!-- <li>
                                  <a href="#">Services</a>
                              </li> -->
                  <li>
                    <a href="#ourproduct">Products</a>
                  </li>
                  <!-- <li>
                                  <a href="#">Our Team</a>
                              </li> -->
                </ul>
                <ul>
                  <li>
                    <a href="#contact">Contact us</a>
                  </li>
                  <li>
                    <a href="#about">About us</a>
                  </li>
                  <!-- <li>
                                  <a href="#">Blog</a>
                              </li>
                              <li>
                                  <a href="#">Testimonials</a>
                              </li>
                              <li>
                                  <a href="#">Faq</a>
                              </li> -->
                </ul>
              </div>
              <!-- End Footer Widget -->
            </div>
            <!-- End col -->
            <div class="col-md-12 col-lg-6">
              <div class="footer-widget">
                <div class="section-heading">
                  <h3>Email</h3>
                  <span class="animate-border border-black"></span>
                </div>
                <p style="color: white;">
                  <!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                  Shreelabh2021@gmail.com
                </p>
                <!-- <form action="#">
                              <div class="form-row">
                                  <div class="col dk-footer-form">
                                      <input type="email" class="form-control" placeholder="Email Address">
                                      <button type="submit">
                                          <i class="fa fa-send"></i>
                                      </button>
                                  </div>
                              </div>
                          </form> -->
                <!-- End form -->
              </div>
              <!-- End footer widget -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->


    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span>Copyright © 2021, All Right Reserved ShreeLabh</span>
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div>
              <h3
                style="color: rgb(179, 127, 31); font-style: italic; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                Thank You for Visit.</h3>
              <span class="animate-border border-black"></span>
            </div>
            <!-- <div class="copyright-menu">
                      <ul>
                          <li>
                              <a href="#">Home</a>
                          </li>
                          <li>
                              <a href="#">Terms</a>
                          </li>
                          <li>
                              <a href="#">Privacy Policy</a>
                          </li>
                          <li>
                              <a href="#">Contact</a>
                          </li>
                      </ul>
                  </div> -->
          </div>
          <!-- End col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
    </div>
    <!-- End Copyright -->
    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
      <button class="btn btn-dark" title="Back to Top" style="display: block;">
        <i class="fa fa-angle-up"></i>
      </button>
    </div>
    <!-- End Back to top -->
  </footer>





  <!-- end  -->

</body>

</html>